  audio {
      display: none
  }

  .pause {
      display: none;
  }

  body {
      background-color: rgb(0, 0, 0);
      min-width: 1024px;
      margin: 0;
  }

  h1 {
      font-family: "Playfair Display", serif;
      color: white;
      font-size: 8rem;

  }

  .casque {
      float: right;
  }


  body div {
      display: flex;
      width: 80%;
      padding-bottom: 40px;
      margin: 0;
  }

  .text {
      color: white;
  }

  section {
      color: white;
  }

  .liste-musiques {
      display: flex;
      justify-content: center;
      
      
  }



  .background-image {

      width: 300px;
      height: 400px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
  }


  .element {

      text-align: center;
      height: 120px;
      width: 150px;
      margin-left: 70px;
      margin-top: 220px;
  }



  .description {
      color: black;
      background-color: rgb(255, 255, 255);
      width: fit-content;
      margin-left: 30px;
      padding: 10px;
      border-radius: 10px
  }


  .description a {

      height: 20px;
      color: rgb(242, 242, 245);
      text-decoration: none;
      background-color: red;
      padding: 4px;
      margin: 0
  }

  .description a:hover {

      background-color: rgb(245, 152, 152);
      transition: background-color 0.3s;
  }




  .phrase {

      width: 150px;
      height: fit-content;
      margin: 0;

  }

  .musiqueDescription {
      margin-top: 70px;
      border-style: dotted;
      color: #ffffff;
      width: 800px;
      padding: 20px;
      border-radius: 20px;
      background-color: #7f8cac;
      position: absolute;
      z-index: 20;
      left: 20%;
      font-size: 1.2rem;
      height: fit-content;
  }



  .liste-musiques {
      border-style: dotted;
      height: 700px;
      padding-top: 100px;
      width: 100%;
  }

  .buttonDescription {
      color: #7f8cac;
      border-radius: 0%;
      padding: 5px;
      margin: 0;
      width: 100px;
  }

  button {
      background-color: rgb(255, 255, 255);
      border-style: none;
      border-radius: 2rem;
  }

  button:hover {
      background-color: black;
      color: #979797;
  }

  label {
      color: black;
  }

  fieldset {
      border-style: dashed;
      border-color: #6e7a9a;
      color: black;
  }

  legend {
      color: #6e7a9a;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2rem;
  }

  h2 {
      font-family: "Playfair Display", serif;
      margin: 40px;
      font-size: 2rem;
  }

  form {
      width: 400px;
      margin: auto;
      background-color: white;
      padding: 6px;
  }


  .internaute {
      display: block;
  }


  h4 {
      font-family: "Playfair Display", serif;
      font-size: 1.3rem;
  }

  footer {
      color: rgb(253, 253, 253);
      background-color: #7f8cac;

      padding: 6px;
      margin-top: 200px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 20px;
      text-align: center;


  }

  ul {
      list-style: none;
  }